.block .legend b a::after {
    color: #0000!important;
}
.legend a {
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    display: inline-block;
    padding: 3px 9px;
    margin: 3px;
}
 
.legend {
    font-size: 0px;
}
.desc-icon {
    background-color: #dcbe0b;
    border-radius: 69px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 27px!important;
    height: 50px;
    margin-left: -15%;
    margin-top: -10%;
    padding: 12px 0;
    width: 50px;
    text-align: center;
}
.fa-footer a:hover {
    border-bottom: solid 1px #444444!important;
    color: #fff!important;
}
.fa-footer a {
    color: #ffffff!important;
}
.ion-android-add:before {
  content: "\f354"!important;
}
.ion-android-remove:before {
  content: "\f355"!important;
}
a.forumtitle:visited {
    color: #dcbe0b!important;
}
a.forumtitle:link {
    color: #dcbe0b!important;
}
.sceditor-button-staff {
    position: relative;
}
 
.sceditor-button-staff * {
    text-indent: initial!important;
    color: darkred!important;
    line-height: 15px!important;
}
 .sceditor-button-staff div {
    font-size: 0px!important;
    background-image: none!important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .sceditor-button-staff div:before {
    font-size: 15px!important;
    font-family: FontAwesome;
    text-indent: initial!important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500!important;
}
 
.mod_groups {
            line-height: 1.5;
            font-size: 11px;
            font-weight: 400;
        }
     
        .mod_box {
            -moz-background-clip: padding;
            -moz-border-radius: 2px;
            -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -webkit-border-radius: 2px;
            -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            background: #fff;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border-radius: 2px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            color: #333;
            width: 200px;
            line-height: 1;
            padding: 10px;
            position: absolute;
            z-index: 999;
        }
     
        .mod_editor_section {
            background: #f1f1f1;
            padding: 5px;
            font-weight: bold;
            border-bottom: 1px solid #d7d7d7;
            text-align: left;
            text-transform: uppercase;
        }
     
        .copyright_e {
            margin-top: 5px;
            background: #f8f8f8;
            border-top: 1px solid #d7d7d7;
            text-align: left;
            padding: 2px 5px;
            font-size: 9px;
            color: #777;
            text-shadow: 1px 1px 0px white;
        }
     
        .mod_editor_message {
            padding: 2px 5px;
            text-align: left;
        }
     
        .mod_groups {
            height: 150px;
            overflow-y: scroll;
        }
     
        .mod_groups li {
            list-style-type: none;
            margin-left: -40px;
        }
     
        .sceditor-button-staff {
            position: relative;
        }
     
        .mod_box {
            top: 73px;
        }
     
        #quick_reply .mod_groups li {
            margin-left: 0px;
        }
     
        #quick_reply .mod_box {
            top: 35px;
        }
     
        .sceditor-button-staff.disabled div {
            opacity: 1.0 !important;
            filter: alpha(opacity=100) !important;
        }
 
#preview .postbody table, #preview .postbody td, div[class*="post--"] .postbody table, div[class*="post--"] .postbody td {    border: none!important; }
body {
    font-family: "Century Gothic", "Apple Gothic","URW Gothic L","Avant Garde",Futura,sans-serif!important;
}
 
 
 
/*--- OUTROS ELEMENTOS BBCODES ---*/
#preview .postbody table:not(.info-table),
#preview .postbody td,
div[class*='post--'] .postbody table:not(.info-table),
div[class*='post--'] .postbody td { border: solid 1px #c2c2c2!important; }
 
#preview .postbody .info-table,
#preview .postbody .info-table td,
div[class*='post--'] .postbody .info-table,
div[class*='post--'] .postbody .info-table td { border: none!important; }
 
.postbody .content table {
    border-collapse: collapse;
    border: solid 1px #c2c2c2;
    text-align: center;
    width: -webkit-fill-available;
}
.postbody .content table tr {
    border-bottom: solid 1px #d0d0d0;
}
 
.postbody .content table td, .postbody .content table th {
    padding: 15px 15px;
    border: none;
}
/***personalizado kauan***/
#preview .postbody table, #preview .postbody td, div[class*='post--'] .postbody table, div[class*='post--'] .postbody td {
    border: 0px solid #4440!important;
}
 
.button1,
.button2,
.button,
input[type="submit"] {
      background-color: #4a4a4a!important;
      border-bottom: 3px solid #dcbe0b;
}
 
div [style*="#ED8200"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f559';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#333232"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f0e3';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#131A40"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f3ed';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#A62C1C"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f714';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#259986"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f509';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#801B94"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f075';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#0F385C"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f304';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
div [style*="#DB142E"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f067';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
div [style*="#156117"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f6d5';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
#page-footer {
    background-color: #444444!important;
    border-top: solid 1px #444444!important;
    border-bottom: solid 1px #444444!important;
}
 
.forabg .header {
    text-transform: uppercase;
}
 
.mod-action{background-color:#39c;border:2px solid #39c;border-radius:2px;color:#fff;display:block;margin:1em 25px 1em 1em;padding:15px}.mod-action tbody,.mod-action thead{display:block;width:100%}.mod-action tbody>tr{-ms-flex-align:center;-ms-flex-pack:justify;-webkit-box-align:center;-webkit-box-pack:justify;align-items:center;display:flex;justify-content:space-between;width:100%}.mod-action td{flex-grow:1}.mod-action tbody>tr>td.icon{flex-grow:initial;font-size:25px;margin-right:15px}.mod-action h2,.mod-action h3,.mod-action h4{color:inherit;font-size:1.2em;margin-bottom:.4em}.mod-action h2+br,.mod-action h3+br,.mod-action h4+br{display:none}.mod-action a{color:inherit;text-decoration:underline}.mod-action a:hover{color:#eee}.mod-action.adm,.mod-action.danger{background-color:#FFBABA;border-color:#d50000;color:#666}.mod-action.adm .icon.fa.fa-exclamation,.mod-action.adm h4,.mod-action.danger .icon.fa.fa-exclamation,.mod-action.danger h4{color:#ea624c}.mod-action.mod,.mod-action.success{background-color:#DFF2BF;border-color:#C9E994;color:#666}.mod-action.success .icon.fa.fa-check,.mod-action.success h4{color:#84c754}.mod-action.aju,.mod-action.warning{background-color:#fff8c4;border-color:#f2c779;color:#666}.mod-action.warning .icon.fa.fa-clock-o,.mod-action.warning h4{color:#eeb751}.mod-action.art{background-color:#787DEA;border-color:#787DEA}.mod-action.pub{background-color:#00B5D1;border-color:#00B5D1}.mod-action.dev{background-color:#444;border-color:#444}
.post-table{background:#EEE!important;border:1px solid #CCC!important;border-spacing:0!important;color:#333!important;width:100%!important}.post-table td{border-bottom:1px solid #CCC!important;border-right:1px solid #CCC!important;padding:3px 6px!important}
.pagination span a.pag-img {
  display: none;
}
 
/* IMPORT */
@font-face {
    font-family: 'Volter Goldfish';
    src: url("https://mundogoph.github.io/fonts/Volter.ttf") format('ttf'),
        url("https://mundogoph.github.io/fonts/Volter.woff2") format('woff2'),
        url("https://mundogoph.github.io/fonts/Volter.woff") format('woff'),
        url("https://mundogoph.github.io/fonts/Volter.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*** TAGS GENÉRICAS
======================================= ***/
 
.button,
.button1,
.button2,
input[type="submit"] { color: #fff!important; }
 
.button1:hover,
.button2:hover,
.button:hover,
input[type="submit"]:hover {
    background-color: #297aa3;
    box-shadow: none;
}
 
.button.green { background-color: #008000; margin-right: 2%; }
.button.red { background-color: #db4928; }
 
/**-- Buttons bloqueado --**/
.button1[title*="não pode"] { background-color: #db4928!important; }
 
.button1[title*="Este Fórum está Bloqueado."]:after { content: "Fórum Bloqueado"; }
 
.button1[title*="Este Tópico está bloqueado."]:after { content: "Tópico Bloqueado"; }
 
.button1[title*="não pode"] span { display: none; }
 
/**-- Checkboxes e Radiobuttons --**/
input[type=checkbox],
input[type=radio] {
  position: relative;
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
  font-size: inherit;
  width: 1em;
  margin: 0;
  color: inherit;
  outline: none;
  font-family: 'Font Awesome 5 Free';
  transition: 300ms ease-out;
  margin-right: .35em;
}
input[type=checkbox]:disabled,
input[type=radio]:disabled {
    background-color: transparent;
    border: none;
}
 
input[type=checkbox]::after,
input[type=radio]::after {
  content: '\f111';
  display: inline-block;
  text-align: center;
  width: 1em;
}
 
input[type=checkbox]:checked::after,
input[type=radio]:checked::after {
  font-weight: 900;
}
 
input[type=checkbox]:disabled::after,
input[type=radio]:disabled::after {
    color: #909090;
    font-weight: 900;
    cursor: not-allowed;
}
 
input[type=checkbox]:active,
input[type=radio]:active {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
 
input[type=checkbox]:after {
  content: '\f0c8';
}
input[type=checkbox]:checked::after {
  content: '\f14a';
}
input[type=checkbox]:disabled::after {
  content: '\f146';
}
 
/**-- Codebox, Spoiler e Citar --**/
blockquote {
    padding: 8px 16px 8px 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 0 0 0 6px;
    font-size: 14px;
    line-height: 1.5;
    background-color: transparent;
    border-width: 1px 1px 1px 6px;
}
 
blockquote:before, .codebox:before { display: none!important; }
 
blockquote cite {
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
    font-weight: 900;
}
 
.codebox {
    background-color: #354147!important;
    border-color: rgba(0,0,0,0.44)!important;
    border-radius: 3px!important;
    color: #FFF;
    font-size: 14px!important;
    line-height: 1.5!important;
    padding: 8px 16px 8px 10px!important;
}
 
.codebox .fa-code-copy-button {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #fff;
}
 
.codebox:not(.spoiler) dt {
    font-size: 1.3rem!important;
    text-align: left!important;
    font-weight: 900;
    color: #fff!IMPORTANT;
}
 
.codebox dt {
    color: rgba(255,255,255,0.44)!important;
    margin-bottom: 3px!important;
    border-bottom: none!important;
}
 
.spoiler_content .codebox:not(.spoiler) dt {
    color: rgba(255,255,255,0.44)!important;
    background-color: transparent;
}
 
.spoiler_content .codebox dt:after { display: none; }
 
.codebox code {
    max-height: 400px!important;
    white-space: nowrap!important;
    color: #e6e1dc!important;
    margin: 0!important;
    font-size: 15px!important;
}
 
.hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-attribute, .hljs-string, .hljs-variable, .hljs-template-variable, .hljs-strong, .hljs-emphasis, .hljs-quote,
.hljs-title, .hljs-attr, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #fff!important;
}
 
.spoiler {
    border: none!important;
    background-color: transparent!important;
    padding: 0!important;
    color: #212121;
}
 
.spoiler dt {
    background-color: rgba(0,0,0,0.22);
    border-radius: 3px;
    padding: 6px 11px;
    position: relative;
    color: #263238!important;
    font-size: 15px!important;
}
 
.spoiler dt:after, .spoiler_content .spoiler dt:after {
    content: "\f104";
    font-family: "IonIcons";
    line-height: 36px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    top: 0;
}
 
.spoiler_content {
    border-left: 3px solid rgba(0,0,0,0.22);
    display: none;
    margin-top: 6px;
    padding-left: 22px!important;
    padding-bottom: 20px;
    padding: 2px;
}
/*** HEADER
======================================= ***/
 
.headerbar {
    height: 350px!important;
    background-size: initial;
  background-color: #000000;
}
 
#main-menu {
    position: relative;
    background-color: #333333;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.23), 0 3px rgba(0, 0, 0, 0.078);
    box-shadow: 0 -3px rgba(0, 0, 0, 0.23), 0 3px rgba(0, 0, 0, 0.078);
    color: #fff;
    text-align: center;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    margin-top: -2%;
    border-radius: 5px;
}
 
#main-menu.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
 
.navbar-links {
    width: 100%;
    padding: 0 2%;
}
 
.navbar-links a li {
    float: left;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
    color: #FFF;
}
 
.navbar-links a li:hover {
    box-shadow: inset 0px -2px 0 #fff;
    background-color: rgba(0,0,0,.2);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
 
.navbar-links a li i { margin-right: 5px; }
 
.navbar-user {
    position: absolute;
    right: 50px;
}
 
.navbar-user .is-normal {
    position: absolute;
    top: -15px;
    right: 20px;
}
 
.navbar-user .is-normal .user-menu-open { display: none!important; }
 
.navbar-user .is-normal .avatar {
    position: relative;
    width: 80px;
    height: 80px;
    background-image: url(https://1.bp.blogspot.com/-qpavAM5uHiQ/Vt5BfOReKqI/AAAAAAAAkUU/T2GI3XqzWWc/s1600/wallpaper_bigWave.png);
    padding: 7px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.8), 0 0 2px rgb(0,0,0);
    border: none;
    z-index: 1;
}
 
.navbar-user .is-normal .avatar img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: 15px;
    width: auto;
    top: 10px;
}
 
.is-normal .user-item {
    background: #EEEEEE;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: -30%;
    position: absolute;
    color: #FFFFFF!important;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    -webkit-transform: translate3d(5px, -65px, 0);
    transform: translate3d(5px, -65px, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
 
.is-normal .user-item:hover { background-color: #FFF!important; }
 
.is-normal .user-menu-open:checked ~ .user-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(-55px, -135px, 0);
  transform: translate3d(-55px, -135px, 0);
}
 
.is-normal .user-menu-open:checked ~ .user-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(5px, -135px, 0);
  transform: translate3d(5px, -135px, 0);
}
 
.is-normal .user-menu-open:checked ~ .user-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(65px, -135px, 0);
  transform: translate3d(65px, -135px, 0);
}
 
.is-normal .user-item.blue {
  background-color: #669AE1;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
 
.is-normal .user-item.blue:hover {
  color: #669AE1!important;
  text-shadow: none;
}
 
.is-normal .user-item.green {
  background-color: #70CC72;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
 
.is-normal .user-item.green:hover {
  color: #70CC72!important;
  text-shadow: none;
}
 
.is-normal .user-item.red {
  background-color: #FE4365;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
 
.is-normal .user-item.red:hover {
  color: #FE4365!important;
  text-shadow: none;
}
 
.user-item[data-status*="Nova"]:after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 20%;
}
 
.user-nav {
    background-color: rgba(0,0,0,.3);
    position: relative;
    width: auto;
    min-width: 160px;
    font-size: 15px;
    height: 50px;
    padding: 13px;
    cursor: pointer;
}
.user-nav:hover { background-color: rgba(0,0,0,.5); }
 
.user-nav i { margin-left: 7px; }
 
.dropdown-submenu {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 3px 3px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 14px;
    background-color: #2c353b;
}
 
.dropdown-submenu a {
    color: #fff;
    font-size: 1.4rem;
    display: block;
    padding: 5px;
}
.dropdown-submenu a:hover { background-color: rgba(0,0,0,.3); }
 
.user-nav > .dropdown-submenu { display: none; }
.user-nav:hover > .dropdown-submenu { display: block; }
 
/*-- POPUP DE LOGIN --*/
.login-popup {
    -webkit-box-shadow:0 0 20px rgba(0,0,0,.4);
    box-shadow:0 0 20px rgba(0,0,0,.4);
    background-color:#fff;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position:relative;
    padding:37px 50px 50px 325px;
    width:auto;max-width:645px;
    margin:20px auto;
    overflow:hidden;
}
 
.login-popup:before,
.login-popup:after {
    -webkit-border-radius:192px/290px;
    -moz-border-radius:192px/290px;
    border-radius:192px/290px;
    width:385px;
    height:580px;
    position:absolute;
    content:"";
    top:0;
    display:block;
    bottom:0;
    margin:auto;
}
 
.login-popup:before {
    background-image:url(https://i.imgur.com/P7Lh1n1.png);
    background-position:-435px -67px;
    left:-95px;
}
 
.login-popup:after {
    background-image:url(https://i.imgur.com/fKa5snZ.png);
    background-color:rgba(25,146,209,.8);
    background-position:40px center;
    background-repeat:no-repeat;
    left:-94px;
}
 
.login-popup h3 {
    margin-bottom:30px;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 0;
}
 
.login-popup .login-form .username-input,
.login-popup .login-form .password-input {
    position:relative;
    display:block;
}
 
.login-popup .login-form .username-input i,
.login-popup .login-form .password-input i {
    font-size:18px;
    font-weight:700;
    color: #b4b4b4;
    position:absolute;
    top:13px;
    right:18px;
    cursor:text;
    display:block;
    -webkit-transition:color .2s;
    transition:color .2s;
}
 
.login-popup .login-form .username-input i:before,
.login-popup .login-form .password-input i:before {
    font-size:18px;
}
 
.login-popup .login-form .rounded-input {
    padding-right:40px;
    margin-bottom:15px;
    background-color: #fff;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    padding: 11px 24px;
    display: block;
    font-family: poppins,Arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    border: 1px solid #b4b4b4;
    width: 100%;
    height: 47px;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
}
 
.login-popup .login-form .rounded-input:focus,
.login-popup .login-form .rounded-button:focus {
    border-color: #4b5320;
    outline: none;
}
 
.login-popup .login-form .rounded-input:focus~i { color: #4b5320; }
 
.login-popup .login-form .rounded-button {
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    padding: 11px 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    height: 47px;
    line-height: 21px;
    text-shadow: none;
    text-align: center;
    -webkit-transition: background-color .2s,color .2s;
    transition: background-color .2s,color .2s;
    display: block;
    width:100%;
    background-color: #4b5320;
    color: #fff;
    margin-bottom: -5%;
}
 
.login-popup .login-form .rounded-button:hover { background-color: #2a2e12; }
 
 
/*** CONTEÚDO
======================================= ***/
 
#wrap { max-width: 95%; }
#wrap { background-color: #e9ebed00!important; }
 
/**
 * Design das categorias e fóruns:
 */
 
.forabg, .forumbg {
    background-color: #000000;
    background-image: none;
    box-shadow: none;
    margin-bottom: px!important;
}
 
.forabg.hidden { background-color: #33ffff; }
 
.forumbg.announcement { margin-bottom: 2%; }
 
.forabg.hidden .header {
    background-color: #dcbe0b;
 
}
 
.header .icon .dterm { width: 100%; border-bottom: 3px solid #dcbe0b; }
 
.table-title h2 {
    margin-left: 7px;
    font-size: 2rem!important;
    color: #E6E6E6!important
}
 
.btn-collapse {
    left: 1250px;
    right: auto;
}
 
.table-title, .table-title h2, .btn-collapse i { color: #E6E6E6; }
.forabg.hidden .table-title, .forabg.hidden .table-title h2, .forabg.hidden .btn-collapse i { color: #E6E6E6; }
 
ul.topiclist.forums { background-color: transparent; }
 
li.row {
    border: none;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.06);
}
li.row:hover { background-color: #fff; }
 
 
.row > .icon > .dterm .topics {
    font-size: 1.3rem;
    color: rgba(0,0,0,0.55);
    margin: 5px 0;
    background-color: rgba(0,0,0,0.05);
    padding: 3px 7px;
    width: auto;
    display: inline-block;
    border-radius: 3px;
}
 
ul.forums dl.icon dd.dterm > div { margin-left: 30px!important; }
 
ul.topics .row dd.dterm {
    padding-left: 30px;
    padding-top: 15px;
}
 
a.forumtitle { font-size: 1.75rem; }
 
a.topictitle { font-size: 1.6rem; }
 
.forum-desc br { display: none; }
 
dd.lastpost { float: right!important; }
 
.lastpost-avatar { padding: 5px 10px 5px 0; }
 
.lastpost-avatar img {
    height: 50px;
    width: 50px;
}
 
.lastpost-avatar:after {
    height: 50px;
    top: 5px;
    width: 50px;
}
 
.lastpost .color-groups { float: none!important; }
 
.lastpost-info {
    position: absolute;
    top: 15px;
}
 
/*-- Forum Header --*/
.sub-header-info { width: 100%; }
 
h1.page-title {
    display: block;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 16px;
}
 
.sub-header-path {
    background-color: #263238;
    border-radius: 3px;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 0;
    margin-bottom: 22px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
 
.sub-header-path a {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 9px 16px;
    position: relative;
}
 
.sub-header-path a:first-child { padding: 9px 16px!important; }
 
.sub-header-path a + a { margin-left: 0; }
 
.sub-header-path a + a:before {
    font-size: 16px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}
 
.sub-header-path a:hover { background-color: rgba(0,0,0,0.44); }
 
.sub-header-path a:last-child:after {
    bottom: 0;
    box-shadow: 0 0 11px 16px #263238;
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
    transition: all .16s ease;
    width: 5px;
}
 
.sub-header-path a:hover:after {
    -ms-filter: brightness(50%);
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
 
/*---- estilo do header de mensagem privada, etc.***/
 
li.header dd, li.header dt {
    color: #e6e6e6;
    font-size: 2rem!important;
    font-weight: 0px!important;
}
 
/*---- Sem posts no tópico ----*/
.topiclist > .row > .icon { position: relative; }
.lastpost > span > a:empty { pointer-events: none; }
 
.lastpost > span > a:empty:before {
    content: "Não há tópicos para visualizar!";
    color: #999;
    font-style: italic;
    transform: translate(0, 90%);
    position: absolute;
}
 
/**
 * Usuários no fórum:
 */
.users-in-forum { margin-top: 2%; }
 
.users-in-forum br { display: none; }
 
/**
 * Design dos tópicos:
 */
 
.online:before { display: none; }
 
.profile-icons { padding-top: 5px!important; }
 
.profile-icons a {
    background-color: rgba(0,0,0,.7);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 9px;
    height: auto;
    transition: .2s ease;
}
 
.profile-icons a:hover { background-color: #3793ff; }
 
.postprofile {
      border: 1px solid #f0f0f0;
    border-top: 0;
    border-left-width: 7px;
    border-radius: 3px 0 0 3px;
    width: 250px;
}
 
.postprofile:before {
    content: url(http://habboemotion.com/resources/images/icons/offline.gif);
    left: 5px;
    position: absolute;
    top: 5px;
}
 
.online .postprofile:before { content: url(http://habboemotion.com/resources/images/icons/online.gif); }
 
.postprofile-name {
    font-size: 16px;
    margin-top: 5%;
}
 
.postprofile-avatar { margin: 10px 0; }
 
.postprofile-avatar img {
    border-radius: 0;
    height: auto;
    width: 200px;
  box-shadow: 0!important;
}
 
.postprofile-rank {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
 
.postprofile-info {
    border-top: 1px solid #ddd;
    padding-top: 5%;
}
 
.postbody {
    margin-right: 250px;
    position: relative;
}
 
.postbody .content { margin-top: 5%; }
 
.topic-date {
    background-color: #f5f5f5;
    border-radius: 0 3px 0 0;
    overflow: hidden;
    padding: 8px 25px!important;
    opacity: 1!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
 
.topic-date span {
    color: rgba(0,0,0,.44);
    display: block;
    float: left;
    font-size: 13px;
    padding-top: 5px;
}
 
.topic-actions .right a img:hover { opacity: .8; }
 
.page-title a:hover,
.topic-actions a:hover,
.right-box a:hover {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    transition: ease all .2s;
}
 
.quickreply .h3 { display: none; }
 
.avatartopiclux {
    width: 128px;
    height: 220px;
    margin: 20px 0 0 -55px;
}
 
 
 
/**
 * Trocar os botões do SCEditor por Font Awesome 5 Free Icons.
 *
 * @author: Luiz~
 * @see: Fórum dos Fóruns
 * @licence: MIT
 */
.sceditor-button {
  position: relative;
}
 
.sceditor-button * {
  text-indent: initial!important;
  color: #000!important;
  line-height: 15px!important;
}
 
.sceditor-button div {
  font-size: 0px!important;
  background-image: none!important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.sceditor-button div:before {
  font-size: 15px!important;
  font-family: 'Font Awesome 5 Free';
  text-indent: initial!important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 
.sceditor-button-bold div:before {
  content: "\f032";
}
 
.sceditor-button-italic div:before {
  content: "\f033";
}
 
.sceditor-button-underline div:before {
  content: "\f0cd";
}
 
.sceditor-button-strike div:before {
  content: "\f0cc";
}
 
.sceditor-button-left div:before {
  content: "\f036";
}
 
.sceditor-button-center div:before {
  content: "\f037";
}
 
.sceditor-button-right div:before {
  content: "\f038";
}
 
.sceditor-button-justify div:before {
  content: "\f039";
}
 
.sceditor-button-bulletlist div:before {
  content: "\f0ca";
}
 
.sceditor-button-orderedlist div:before {
  content: "\f0cb";
}
 
.sceditor-button-horizontalrule div:before {
  content: "\f068";
}
 
.sceditor-button-quote div:before {
  content: "\f10d";
}
 
.sceditor-button-code div:before {
  content: "\f1c9";
}
 
.sceditor-button-faspoiler div:before {
  content: "\f146";
}
 
.sceditor-button-fahide div:before {
  content: "\f070";
}
 
.sceditor-button-table div:before {
  content: "\f0ce";
}
 
.sceditor-button-servimg div:before {
  content: "\f03e";
}
 
.sceditor-button-image div:before {
  content: "\f1c5";
}
 
.sceditor-button-link div:before {
  content: "\f0c1";
}
 
.sceditor-button-youtube div:before {
  content: "\f03d";
}
 
.sceditor-button-dailymotion {
  display: none;
}
 
.sceditor-button-flash div:before {
  content: "\f008";
}
 
.sceditor-button-headers div:before {
  content: "\f1dc";
}
 
.sceditor-button-size div:before {
  content: "\f034";
}
 
.sceditor-button-color div:before {
  content: "\f1fc";
}
 
.sceditor-button-font div:before {
  content: "\f031";
}
 
.sceditor-button-removeformat div:before {
  content: "\f12d";
}
 
.sceditor-button-more div:before {
  content: "\f067";
}
 
.sceditor-button-subscript div:before {
  content: "\f12c";
}
 
.sceditor-button-superscript div:before {
  content: "\f12b";
}
 
.sceditor-button-fascroll div:before {
  content: "\f060";
}
 
.sceditor-button-faupdown div:before {
  content: "\f062";
}
 
.sceditor-button-farand div:before {
  content: "\f074";
}
 
.sceditor-button-date div:before {
  content: "\f133";
}
 
.sceditor-button-time div:before {
  content: "\f017";
}
 
.sceditor-button-pastetext div:before {
  content: "\f0ea";
}
 
.sceditor-button-source div:before {
  content: "\f0c5";
}
 
.sceditor-button-emoticon div:before {
  content: "\f118";
}
 
 
/*** ESTATÍSTICAS
======================================= ***/
 
.block { background-color: #fff; }
 
.block a:link,
.block a:visited {
    color: #444;
}
 
.block .h3 {
    font-size: 20px;
    border: none;
}
 
.block .h3 i {
    height: 28px;
    line-height: 30px;
    margin-right: 10px;
    color: #39c;
}
 
.stats-tabs br { display: none; }
 
.stats-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}
 
.stats-tabs input { display: none; }
 
.stats-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}
 
.stats-tabs label:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}
 
.stats-tabs label[for*='1']:before { content: '\f0c0'; }
.stats-tabs label[for*='2']:before { content: '\f1fd'; }
.stats-tabs label[for*='3']:before { content: '\f187'; }
 
.stats-tabs label:hover {
  color: #789;
  cursor: pointer;
}
 
.stats-tabs input:checked + label {
  color: #000000;
  border: 1px solid #abc;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #fff;
}
 
.stats-tabs #tab1:checked ~ #content1,
.stats-tabs #tab2:checked ~ #content2,
.stats-tabs #tab3:checked ~ #content3 { display: block; }
 
@media screen and (max-width: 800px) {
  .stats-tabs label {
    font-size: 0;
  }
  .stats-tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
 
@media screen and (max-width: 500px) {
  .stats-tabs label {
    padding: 15px;
  }
}
 
.block .legend { font-size: 0px; }
 
.block .legend b a {
    font-size: 13px;
    font-weight: 600;
}
 
.block .legend b a::after {
    content: ", ";
    font-weight: 400;
    color: #000;
}
 
.block .legend b:last-child a::after { content: ""; }
 
.stat-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.06);
    color: #444;
    font-size: 0;
    float: left;
    height: 75px;
    padding: 15px;
    width: 23%;
    margin-right: 34px;
    text-align: right;
}
 
.stat-card:last-child { margin-right: 0; }
 
.stat-card title-stat {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 
.stat-card strong {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #dcbe0b;
}
 
.stat-card i {
    float: left;
    font-size: 40px;
    color: #dcbe0b;
    margin-top: -13px;
    margin-bottom: -30px;
}
 
/*** PERFIL DE USUÁRIO
======================================= ***/
 
#profile-advanced-layout #tabs {
    bottom: 0;
    position: absolute;
}
#tabs ul {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style-type: none;
    padding: 0 1.8em;
    white-space: nowrap;
}
#tabs ul li { display: inline-block; }
 
#tabs ul a {
    background-color: #fff;
    line-height: 2em;
}
 
#tabs ul .activetab a,
#tabs ul a:hover {
    color: #444;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    box-shadow: inset 0px -2px 1px #24282b;
    border-bottom-color: transparent;
}
 
#tabs ul a:hover span { color: #444; }
 
 
/*  FOOTER
**===================*/
.statistics-item strong a span, .statistics-item a:link, .statistics-item a:visited { color: #fff!important; }
 
.footerbar-system { padding: 20px 0; }
 
/**
 * Definições Iniciais:
 */
 
.fa-footer,
.fa-footer * { box-sizing: border-box; }
 
.fa-footer {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Ubuntu", "Helvetica", "Arial", "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: #f6fbff;
    font-weight: 300;
    line-height: 1.5;
  background: linear-gradient(to bottom, rgba(6, 6, 6, 0.74) 0, rgba(60, 60, 58, 0.76) 100%), url(https://media.discordapp.net/attachments/655505873216733189/656992737748582400/heady.png);
}
 
/**
 * Tags Genêricas:
 */
 
.fa-footer a {
    text-decoration: none;
    color: #0786e7;
    transition: all 200ms linear;
}
 
.fa-footer a:hover {
    border-bottom: solid 1px #0786e7;
    color: #fff;
}
 
/**
 * Sistema de Grid e ajustes das colunas genêricas:
 */
 
.fa-footer .fa-footer-row {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
}
 
.fa-footer .fa-footer-row .fa-footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 15px 0;
    min-width: 200px;
}
 
.fa-footer .fa-footer-row .fa-footer-col:last-child { margin-right: 10px; }
 
.fa-footer .fa-footer-row .fa-footer-col .lead {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}
 
.fa-footer .fa-footer-row .fa-footer-col p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
 
/**
 * Ajustes para a a coluna primária:
 */
 
.fa-footer .fa-footer-row .fa-primary-footer-col {
    position: relative;
    flex-grow: 1;
}
 
.fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-logo img {
    width: auto;
    margin: 0 30px;
}
 
 .fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-back-to-top {
    position: absolute;
    right: -20px;
    bottom: -20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #24282b;
    color: #dcbe0b;
    font-size: 23px;
    border-radius: 20px;
    z-index: 3;
    cursor: pointer;
    transition: all 100ms linear;
}
 
.fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-back-to-top .fa { margin-top: -3px; }
 
.fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-back-to-top:hover {
    background-color: #dcbe0b;
    color: #fff;
}
 
/**
 * Atribuição final:
 */
 
.fa-footer .fa-footer-attr {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-top: solid 1px #2a2e32;
    background-color: #24282b;
}
 
/**
 * Ajustes para o footer do FA:
 */
 
#page-footer {
    background-color: #212529;
    border-top: solid 1px #2a2e32;
    border-bottom: solid 1px #2a2e32;
}
 
.statistics {
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.37);
}
 
/**
 * Responsive:
 */
 
@media screen and (max-width: 1000px) {
  .fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-logo img {
    margin: 0px;
  }
}
 
@media screen and (max-width: 850px) {
  .fa-footer .fa-footer-row {
    flex-wrap: wrap;
  }
 
  .fa-footer .fa-footer-row .fa-primary-footer-col {
    border-right: none;
  }
 
  .fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-logo {
    margin-bottom: 2%;
  }
 
  .fa-footer .fa-footer-row .fa-primary-footer-col .fa-footer-back-to-top {
    right: auto;
  }
 
  .fa-footer .fa-footer-row .fa-footer-col:nth-child(2) {
    margin-top: 2%;
  }
}
 
.admin-link {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
}
 
.admin-link a {
    padding: 10px;
    background-color: #86720f;
    border-radius: 3px;
    transition: .2s ease;
    color: #fff;
    font-size: 13px;
}
 
.admin-link a:hover { background-color: #86720f; }
 
.admin-link br { display: none; }
 
 
/* USUÁRIOS & RANKS
** ======================================== */
 
.rank {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin: 10px auto 0;
    width: 200px;
    padding: 0px;
    border-radius: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.rank:before {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: 5px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-family: 'Font Awesome 5 Free';
}
 
/* Ranks Administrativos*/
.rank.supr{background-color: #ED8200;}
.rank.supr:before{content: "\f559";}
.rank.cp9{background-color: #131A40;}
.rank.cp9:before{content: "\f3ed";}
.rank.cor{background-color: #333232;}
.rank.cor:before{content: "\f0e3";}
.rank.cot{background-color: #A62C1C;}
.rank.cot:before{content: "\f714";}
.rank.crh{background-color: #259986;}
.rank.crh:before{content: "\f509";}
.rank.sre{background-color: #801B94;}
.rank.sre:before{content: "\f075";}
.rank.adm{background-color: #8a0c49;}
.rank.adm:before{content: "\f121";}
.rank.ins{background-color: #000099;}
.rank.ins:beforce{content: "f13ed";}
 
/*Ranks dos Usuários*/
.rank.mbr{background-color: #868e62;}
.rank.mbr:before{content: "\f075";}
.rank.ldr{background: linear-gradient(to right, #009688 0%, #7986CB 100%);}
.rank.ldr:before{content: "\f4ad";}
 
/*Personalizações da legenda*/
a[style*="#4B0082"], span[style*="#4B0082"] {
    background: repeating-linear-gradient(124deg,#000000,#273e73,#1e88e5,#ffffff,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
    -webkit-background-clip: text;
    background-size: 1800% 1800%;
    -webkit-text-fill-color: transparent;
    animation: rainbow 6s ease infinite;
}
div [style*="#4B0082"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f521';
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
 
a[style*="#0A0A0A"], span[style*="#0A0A0A"] {
    font-weight: bold;
}
div [style*="#0A0A0A"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f24e';
  color: #0A0A0A;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
a[style*="#AFDB51"], span[style*="#AFDB51"] {
    background-color:#AFDB51;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
div [style*="#AFDB51"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f4b9';
  color: #AFDB51;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
a[style*="#4C0082"], span[style*="#4C0082"] {
    font-weight: bold;
}
 
div [style*="#4C0082"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f21b';
  color: #4C0082;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
a[style*="#AD1818"], span[style*="#AD1818"] {
    font-weight: bold;
}
 
div [style*="#AD1818"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f714';
  color:#AD1818;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
a[style*="#00BF9F"], span[style*="#00BF9F"] {
    font-weight: bold;
}
 
div [style*="#00BF9F"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f2c2';
  color:#00BF9F;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
a[style*="#979DA1"], span[style*="#979DA1"] {
    font-weight: bold;
}
 
div [style*="#979DA1"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f274';
  color:#979DA1;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 12px;
}
 
a[style*="#F05BBC"], span[style*="#F05BBC"] {
    font-weight: bold;
}
 
div [style*="#F05BBC"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f201';
  color: #F05BBC;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 13px;
}
 
a[style*="#523D09"], span[style*="#523D09"] {
    font-weight: bold;
}
 
div [style*="#523D09"]::before {
  font-family: "Font Awesome 5 Free"; 
  content:'\f501';
  color: #523D09;
  margin-right: 3px;
  font-weight: 1000;
  font-size: 13px;
}
 
.sceditor-font-picker {
  height:250px;
  width:150px;
  overflow-y:auto;
}
.postbody {
    margin-right: 0 !important;
    padding: 0 !important;
}
 
.topic-date {
    position: relative !important;
}
 
.content {
    margin-left: 37px !important;
    padding: 1rem !important;
}